<div class="board">
  <div class="board-row">
    <app-square [value]="squares[0]" (setValue)="setValue(0)"></app-square>
    <app-square [value]="squares[1]" (setValue)="setValue(1)"></app-square>
    <app-square [value]="squares[2]" (setValue)="setValue(2)"></app-square>
  </div>

  <div class="board-row">
    <app-square [value]="squares[3]" (setValue)="setValue(3)"></app-square>
    <app-square [value]="squares[4]" (setValue)="setValue(4)"></app-square>
    <app-square [value]="squares[5]" (setValue)="setValue(5)"></app-square>
  </div>

  <div class="board-row">
    <app-square [value]="squares[6]" (setValue)="setValue(6)"></app-square>
    <app-square [value]="squares[7]" (setValue)="setValue(7)"></app-square>
    <app-square [value]="squares[8]" (setValue)="setValue(8)"></app-square>
  </div>
</div>
