<div class="popup">
  <div class="container-fluid popup_inner popup_inner--winner">
    <div class="row popup-row-message">
      <h1 class="winner-message">It's a draw</h1>
    </div>

    <div class="row popup-row-actions">
      <div class="col text-center">
        <div class="margin-auto">
          <button
            mat-flat-button
            color="primary"
            class="popup-button"
            (click)="newGame.emit()"
          >
            New Game
          </button>
        </div>
      </div>
      <div class="col text-center">
        <button
          mat-flat-button
          color="warn"
          class="popup-button"
          (click)="closeGame.emit()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
