.game {
    display: block;
    margin: auto;
    height: 100%;
    font-size: 36px;
    font-family: cursive;
    text-align: center;

    /*background css*/
    background: url('../resources/sfondo_1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.game-board {
    display: inline-grid;
}


.game-info {
    margin-left: 20px;
}

.status {
    min-width: 50%;
    padding: 20px;
    color: #dc685a;
}